<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap form</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container mt-3">
      <h1>Name of Application: {{ title }}</h1>
      <h2>Bootstrap form:</h2>
      <form>
        <div class="mb-5 mt-3">
          <label for="fname" class="form-label">First name:</label><br />
          <input
            type="text"
            class="form-control"
            id="fname"
            name="fname"
            placeholder="Enter Your First Name"
          />
        </div>
        <div class="mb-5 mt-3">
          <label for="pno" class="form-label">Phone #</label><br />
          <input type="text" class="form-control" id="pno" name="pno" />
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </div>
  </body>
</html>
